.pomodoro-widget {
  padding: 0 6px;
}
.pomodoro-widget .icon {
  font-size: 14px;
  margin-right: 2px;
}
.pomodoro-widget .label.paused,
.pomodoro-widget .icon.paused {
  color: #7d7e8b;
  color: var(--muted);
}
.pomodoro-widget .label.work,
.pomodoro-widget .icon.work {
  color: #a6e3a1;
  color: var(--green);
}
.pomodoro-widget .label.break,
.pomodoro-widget .icon.break {
  color: #89b4fa;
  color: var(--blue);
}
.pomodoro-menu {
  background-color: var(--background);
}
.pomodoro-menu .header {
  font-size: 16px;
  font-weight: 600;
  max-height: 0px;
  color: #ffffff;
}
.pomodoro-menu .status {
  font-size: 18px;
  font-weight: 600;
}
.pomodoro-menu .button {
  background-color: var(--black-2);
  border-radius: var(--radius-md);
  padding: 6px 12px;
  border: none;
}
.pomodoro-menu .button:hover {
  background-color: var(--black-4);
}
.pomodoro-menu .button:pressed {
  background-color: var(--black-3);
}
.pomodoro-menu .button.pause {
  background-color: white;
  color: var(--text-inverse);
}
.pomodoro-menu .button.pause:hover {
  background-color: rgba(230, 230, 230, 1);
}
.pomodoro-menu .button.pause:pressed {
  background-color: rgba(200, 200, 200, 1);
}
