.apps-widget {
  padding: 0 4px 0 2px;
  padding: 0;
}
.apps-widget .widget-container {
  background-color: transparent;
  border: none;
  margin: 2px 4px;
}
.apps-widget .label {
  font-size: 14px;
  padding: 0 2px;
  color: var(--subtext0);
}
.apps-widget .label:hover {
  color: var(--text);
  background-color: rgba(70, 70, 70, .5);
}