
.context-menu,
.context-menu .menu-checkbox {
  background-color: var(--background);
  padding: 4px 0px;
  font-family: 'Segoe UI';
  font-size: 12px;
  color: var(--text);
}
.context-menu::right-arrow {
  width: 8px;
  height: 8px;
  padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
  background-color: transparent;
  padding: 6px 12px;
  margin: 2px 6px;
  border-radius: var(--radius-lg);
  min-width: 100px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
  background-color: var(--black-4);
}

.context-menu::separator {
  height: 1px;
  background-color: var(--black-5);
  margin: 4px 8px;
}
.context-menu::item:disabled {
  color: var(--muted);
  background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
  padding: 8px 16px;
  font-size: 12px;
  color: var(--text);
  font-family: 'Segoe UI'
}
.context-menu .submenu::item:disabled {
  padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
  color: var(--muted);
}
.context-menu .menu-checkbox .checkbox::indicator {
  width: 12px;
  height: 12px;
  margin-left: 0px;
  margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
  background: var(--black-6);
  border-radius: var(--radius-sm);
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
  background-color: var(--text);
  border-radius: var(--radius-sm);
}
.context-menu .menu-checkbox .checkbox:focus {
  outline: none;
}