.disk-widget {
  padding: 0 6px;
}
.disk-widget .icon {
  color: var(--lavender);
  margin-right: 2px;
}
.disk-group {
  background-color: var(--background);
}
.disk-group-row {
  min-width: 250px;
  max-width: 250px;
  max-height: 40px;
  border-radius: var(--radius-md);
  background-color: var(--black-1);
  border: 1px solid transparent;
}
.disk-group-row:hover {
  background-color:var(--black-2);
  border-color: var(--border);
}
.disk-group-label-bar {
  max-height: 8px;
  background-color: rgba(137, 180, 250, 0.3);
  border-radius: var(--radius-md);
}
.disk-group-label-bar::chunk {
  background-color: var(--blue);
  border-radius: var(--radius-md);
}
.disk-group-label {
  font-size: 12px;
}
.disk-group-label-size {
  font-size: 12px;
  color: var(--muted);
}