.komorebi-workspaces {
  padding: 0;
}
.komorebi-workspaces .offline-status {
  color: var(--muted);
  font-size: 12px;
  padding: 0 0 0 4px;
  font-weight: 600;
}
.komorebi-workspaces .ws-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  height: 28px;
  width: 18px;
  border-radius: var(--radius-md);
}
.komorebi-workspaces .ws-btn:hover {
  color: var(--blue);
}
.komorebi-workspaces .ws-btn.populated {
  color: transparent;
  width: 10px;
  height: 10px;
  background-color: var(--muted);
  margin: 0 4px;
  font-size: 1px;
}
.komorebi-workspaces .ws-btn.active {
  background-color: var(--text);
  width: 25px;
  max-width: 25px;
  height: 10px;
  margin: 0 4px;
}
.komorebi-workspaces .ws-btn.active:hover {
  color: var(--text);
}
