
.power-menu-widget .label {
  color: var(--red);
  font-size: 14px;
}
.power-menu-popup {
  background-color: transparent;
}
.power-menu-popup .button {
  width: 180px;
  height: 230px;
  border-radius: var(--radius-lg);
  background-color: var(--black-1);
  color: var(--text);
}

.power-menu-popup .button.hover {
  background-color: var(--black-2);
}
.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--muted);
}
.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--muted);
}

.power-menu-popup .button.cancel .label {
  margin: 0;
}
.power-menu-popup .button.cancel {
  height: 50px;
  font-size: 16px;
  border-radius: var(--radius-lg);
}
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--muted);
  font-weight: 600;
}
