.systray {
  background: transparent;
  border: None;
  margin: 0;
}
.systray .pinned-container[forceshow=true] {
  background: var(--surface2);
}
.systray .button {
  border-radius: var(--systray-icon-radius);
  padding: 4px 2px;
}
.systray .button:hover {
  background: var(--systray-icon-hover);
}
.systray .button[dragging=true] {
  background: var(--surface1);
  border-color: var(--base);
}
.systray .unpinned-visibility-btn {
  border-radius: var(--systray-icon-radius);
  height: 20px;
  width: 20px;
}
.systray .unpinned-visibility-btn:checked {
  background: transparent;
}
.systray .unpinned-visibility-btn:hover {
  border-radius: var(--systray-icon-radius);
  background: var(--surface1);
}